<template>
  <div class="ma-12 pa-12">
    <v-card>
      <v-navigation-drawer
        permanent expand-on-hover app class="grey darken-5"
      >
        <v-list>
          <v-list-item class="px-2">
            <v-list-item-avatar>
              <v-img src="https://randomuser.me/api/portraits/women/85.jpg"></v-img>
            </v-list-item-avatar>
          </v-list-item>

          <v-list-item link>
            <v-list-item-content>
              <v-list-item-title class="text-h6">
                {{usuario}}
              </v-list-item-title>
              <v-list-item-subtitle>{{email}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list
          nav
          dense
        >
        
          <v-list-item to="/dashboard" link>
            <v-list-item-icon>
              <v-icon>{{mdiHome }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item>
          <!-- <v-list-item to="/registroProveedor" link>
            <v-list-item-icon>
              <v-icon>{{mdiFileTable }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Módulo proveedores</v-list-item-title>
          </v-list-item> -->
          <v-list-item to="/getEmpleados" link>
            <v-list-item-icon>
              <v-icon>{{mdiAccountBox  }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Módulo empleados</v-list-item-title>
          </v-list-item>
           <v-list-item to="/registroUsuario" link>
            <v-list-item-icon>
              <v-icon>{{mdiAccountBox }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Módulo usuarios</v-list-item-title>
          </v-list-item>
          <v-list-item to="/getSucursales" link>
            <v-list-item-icon>
              <v-icon>{{mdiFileUpload }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Módulo sucursales</v-list-item-title>
          </v-list-item>
          <!-- <v-list-item to="/importar" link>
            <v-list-item-icon>
              <v-icon>{{mdiFileUpload }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Módulo importar</v-list-item-title>
          </v-list-item> -->
        </v-list>
      </v-navigation-drawer>
        <!-- component matched by the route will render here -->
        <router-view></router-view>

          <v-app-bar app >
       <button
        @shortkey="logout()"
        style="display: none"
        name="Nuevo Proceso"
      ></button>

      <!-- <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon> -->
      <!-- <img :src="'img/fondoblanco.png'" height="42px" alt="FGE" /> -->
      <v-spacer></v-spacer>
      <v-toolbar-title class="text-center">
       <h4 class="titulo">Sistema para control de proveedores</h4>
      </v-toolbar-title>
      <v-spacer></v-spacer>
       <v-toolbar-title
        class="text-center body-1 mr-2"

      ></v-toolbar-title>
      <v-menu
        v-model="menu"
        :close-on-content-click="false"
        :nudge-width="120"
        max-width="400"
        offset-x
      >
        <template v-slot:activator="{ on, attrs }">
          <v-avatar v-bind="attrs" v-on="on" size="45" color="grey darken-8">
            <v-icon >{{mdiShieldAccount  }}</v-icon>
            <span class="white--text overline" ></span>
          </v-avatar>
        </template>
        <v-card>
          <v-list>
            <v-list-item>
              <v-list-item-avatar color="grey darken-5">
                 <v-icon >{{mdiShieldAccount  }}</v-icon>
                <span class="white--text overline" ></span>
              </v-list-item-avatar>
               <v-list-item-content>
                <v-list-item-title
                  >{{usuario}}</v-list-item-title
                >
                <v-list-item-subtitle>
                  {{rol}}
                </v-list-item-subtitle>
                <v-list-item-subtitle
              
                ></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn :loading="loading" color="error" block text @click="logout">
              <v-icon left>{{ mdiLocationExit }}</v-icon
              >Salir
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </v-app-bar>

    </v-card>
  </div>
</template>
<script>
// import { mapState } from "vuex";
import axios from "axios";
import {
  mdiFileTable ,
  mdiAccountBox ,
  mdiFileUpload ,
  mdiLocationExit,
  mdiFileDocument,
  mdiFolderPlus,
  mdiFileSearch,
  mdiFileChart,
  mdiHome,
  mdiClipboardAccount ,
  mdiShieldAccount ,
  mdiShieldAccountOutline ,
} from "@mdi/js";
export default {
  data: () => ({
    mdiFileTable :mdiFileTable ,
    mdiAccountBox :mdiAccountBox ,
    mdiFileUpload :mdiFileUpload ,
  mdiShieldAccount  :mdiShieldAccount  ,
    mdiFileDocument: mdiFileDocument,
    mdiFolderPlus: mdiFolderPlus,
    mdiFileSearch: mdiFileSearch,
    mdiFileChart: mdiFileChart,
    mdiClipboardAccount : mdiClipboardAccount ,
    mdiHome: mdiHome,
    menu: false,
    loading: false,
    mdiLocationExit: mdiLocationExit,
    mdiShieldAccountOutline :mdiShieldAccountOutline ,


    email:'',
    usuario:'',
    rol:''
  }),
  mounted(){
         this.datosUsuario()

        },
  methods: {
    datosUsuario(){
      axios
                  .request({
                    url: 'session',
                    method: 'get',
                  baseURL: localStorage.getItem('baseURL'),
                    headers: {
                        'Authorization': 'Bearer '+localStorage.getItem('access_token')
                    },
                  }).then(response => {
                    console.log(response)
                    this.email = response.data.email,
                    this.usuario =response.data.name,
                    this.rol = response.data.rol
                

                }).catch((error) => {
                  // if(error.response.status == 401){
                    
                  //   window.location.replace("mostrarLogin");
                  // }
                })
    },
   logout() {
      this.loading = true;
   
        axios.post("logout", {
        }).then((response) => {
          console.log("cerra sesion",response)
          localStorage.removeItem("access_token_"+window.location.host);
          window.location.href = response.data;
        }).catch((error) => {
          localStorage.removeItem('expiration')
          // this.loading = false;
          // this.$store.commit("alerta/show", {
          //   color: "error",
          //   text: "Ha ocurrido un error al cerrar sesión.",
          // });
        });
    //   }
    },
  }
};
</script>
<style>
  .titulo{
    color:#616161;
  }
</style>