<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 class="text-xs-center" mt-5>
        <h1>Pagina de bienvenida</h1>
      </v-flex>
      <v-flex xs12 class="text-xs-center" mt-3>
        <p>Sea usted bienvenido</p>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  //name: 'Home'
};
</script>
