<template>
    <v-container>
        <v-row justify="center">
            <v-col cols="12" md="8">
                 <br>
                 <h3 class="titulo">Módulo para importar excel</h3>
                 <br>
                  <v-card class="grey lighten-4" elevation="6" outlined >
                    <v-card-title>
                    <span class="headline">Seleccione el archivo</span>
                    </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                    <v-col cols="12" sm="8" md="8">
                      <v-file-input v-model="file"  outlined   type="file" color="#d6b203"  > 
                          Seleccionar Archivo
                      </v-file-input>
                      
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                  <v-btn color="black" dark  right @click="importar()"> Importar </v-btn>
                  </v-col>
                  </v-row>
                  </v-container>
                        
                </v-card-text>
                  </v-card>
            </v-col>
        </v-row>        
    </v-container>   
</template>


<script>

 const axios = require('axios');
import swal from 'sweetalert';

export default {


   
  data: () => ({
    mdiPlus: mdiPlus,

      file:[],
     
                      
  }),
  methods:{
    importar(){
    //   this.isActive = true
    //   if(!this.valid){
    //   this.isActive = false
    //     this.$refs.form.validate();
    //     return;
    //   }
   
    //    this.$refs.form.resetValidation();
   
      let formData = new FormData();

    //   this.file.forEach(archivo => {
        formData.append('file',this.file);
    //   });
             
     
    axios.request({
                    url: 'importarExcel',
                    method: 'post',
                    data: formData,
                  baseURL: localStorage.getItem('baseURL'),
                    headers: {
                        'Content-Type': 'multipart/form-data',
                         'Authorization': 'Bearer '+localStorage.getItem('access_token')
                    },
                  })
                    .then(response => {
                      console.log(response)
                      if(response.data.status == 1){

                          swal({
                              icon: 'success',
                              title: 'Se importaron correctamente los datos',
                              text: 'Datos guardados correctamente',
                              buttons: ['Aceptar']
                          });
                        //   this.limpiar();
                        //   this.isActive = false
                      }else{
                          swal({
                              icon: 'error',
                              title: 'Guardado Incorrecto',
                              text: 'No fue posible guardar los datos',
                              buttons: ['Aceptar']
                          })

                            }
                        })
                        .catch((error) => {

                            swal({
                                icon: 'error',
                                title: 'Guardado Incorrecto',
                                text: 'No fue posible guardar los datos',
                                buttons: ['Aceptar']
                            })
                    

                        })
                     
    }
  }
}
</script>
<style>
  /* .widget-card {
   
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.21);
    background-color: transparent;
  } */
  .v-sheet.v-card {
    border-radius: 10px;
}
 .ppa {
    color: #000000;
  }
  .giradas {
    color: #727272;
  }
   .intermedia {
    color: #f3f3f3;
  }
  
   .parcial {
    color: #888888;
  }
  
  .up{
    margin-top: -13%;
  }
  .h140{
    height: 10px;
  }
 
.v-card.on-hover.theme--dark{

  background-color: rgba(#FFF, 0.8)
}
  .v-card__text{

    color: #000
  }

 

</style>