<template>
  <v-container>
    <v-row justify="center">
      <v-col>
        <v-form ref="form" v-model="valid" >
          <br>
          <h3 class="titulo">Registrar nuevo empleado</h3>
          <br>
          <v-card class="grey lighten-4" elevation="6" outlined
          >
            <v-card-text>
              <v-container>
                <v-row>
                <v-col class="d-flex" cols="12" sm="6" md="3">
                      <v-text-field
                        v-model="empleado.nombre_empleado"
                        label="Nombre del empleado"
                  
                      ></v-text-field>
                    </v-col>
                      <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="empleado.telefono"
                        label="Telefono de contacto"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="3">
                      <v-text-field
                        v-model="empleado.email"
                        label="Correo de contacto"
                  
                      ></v-text-field>
                    </v-col>
                     <v-col class="d-flex" cols="12" sm="3" md="2" >
                      <v-autocomplete
                        :items="areas"
                        label="Area o departamento"
                        item-value="id"
                        item-text="nombre"
                        v-model="empleado.area"
                   
                      ></v-autocomplete>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2" >
                      <v-autocomplete
                        :items="puestos"
                        label="Puesto"
                        item-value="id"
                        item-text="nombre"
                        v-model="empleado.puesto"
                   
                       
                      ></v-autocomplete>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="3" >
                      <v-autocomplete
                        :items="sucursales"
                        label="Sucursal"
                        item-value="id"
                        item-text="nombre"
                        v-model="empleado.sucursal"
                   
                       
                      ></v-autocomplete>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="3" >
                    <template>
            
                        <v-menu
                          v-model="menu2"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          transition="scale-transition"
                          offset-y
                          min-width="auto"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="date"
                              label="Fecha de ingreso"
                              prepend-icon="mdi-calendar"
                              readonly
                              v-bind="attrs"
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            v-model="date"
                            @input="menu2 = false"
                          ></v-date-picker>
                        </v-menu>
                    </template>
                    
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="empleado.estado"
                        label="Estado"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="empleado.ciudad"
                        label="Ciudad"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="empleado.colonia"
                        label="Colonia"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="empleado.cp"
                        label="Código postal"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="empleado.calle"
                        label="Nombre de calle"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="empleado.numero"
                        label="Num. exterior"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                        <v-switch
                        v-show="check"
                        color="#d6b203"
                          v-model="empleado.switch1"
                          inset
                          label="Activo"
                        ></v-switch>
                  </v-col>
                
                 
                  
                </v-row>
              </v-container>
            </v-card-text>
              
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="black" dark v-if="banderaEdit" right @click="cancelar()"> Cancelar </v-btn>
                <v-btn color="black" dark v-if="btnGuardar" :loading="saveLoading" right @click="AgregarEmpleado()"> Guardar </v-btn>
                <v-btn color="black" dark v-if="btnActualizar" :loading="saveLoading" right @click="ActualizarEmpleado()"> Actualizar </v-btn>
              </v-card-actions>
          </v-card>
        </v-form>
        <br>

              
        <v-card class="grey lighten-4" elevation="6" outlined>
        <v-card-title>
        <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
        </v-card-title>
          <v-card-text>
      
            <v-container>
                <v-col  cols="12" sm="12" md="12">
             
                <v-data-table
                    :headers="headers"
                    :items="empleados"
                    :search="search"
                  >
                  <template v-slot:item.actions="{ item }">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                          <v-btn class="mx-2" fab small width="32" height="30"  @click="editarEmpleado(item)" v-bind="attrs" v-on="on">
                          <v-icon >{{ mdiPencil }}</v-icon>
                          </v-btn>
                      </template>
                      <span>Editar</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                          <v-btn class="mx-2" fab small width="32" height="30"  @click="eliminarEmpleado(item)" v-bind="attrs" v-on="on">
                          <v-icon >{{ mdiAccountCancel }}</v-icon>
                          </v-btn>
                      </template>
                      <span>Eliminar</span>
                    </v-tooltip>
                  </template>
                
                  </v-data-table>
                </v-col>
            </v-container>
          </v-card-text>
        </v-card>
      </v-col>


     
    </v-row>
  </v-container>
</template>

<script>

const axios = require('axios');
import swal from 'sweetalert';
import {
  mdiPencil,
  mdiAccountMultipleCheck,
  mdiAccountCancel
} from '@mdi/js';
export default {

  

   
  data: () => ({
    mdiPencil: mdiPencil,
      mdiAccountMultipleCheck: mdiAccountMultipleCheck,
      mdiAccountCancel: mdiAccountCancel,
    valid: false,
    rol:["ADMINISTRADOR", "ALMACEN"],
    areas:[],
    sucursales:[],
    proveedores:[],
    puestos:[],
    // rules: myrulesEtapa,
    empleado: {
      
        nombre_empleado: "",
        telefono: "",
        sucursal: "",
        area: "",
        puesto: "",
        email: "",
        estado: "",
        ciudad: "",
        colonia: "",
        cp: "",
        calle: "",
        numero: "",
        switch1: ""
      
    },
    saveLoading: false,
    isActive: false,
    search: '',
    empleados:[],
    
        search: '',
          headers: [
      {
        text: 'Nombre del empleado',
        align: 'start',
        sortable: false,
        value: 'nombre',
      },
      { text: 'Telefono', value: 'telefono' },
      { text: 'Correo electronico', value: 'email' },
      { text: 'Area/departamento', value: 'nombre_area' },
      { text: 'Puesto', value: 'nombre_puesto' },
      { text: 'Sucursal', value: 'sucursal.nombre' },
      { text: 'Fecha ingreso', value: 'fecha_ingreso' },
      { text: 'Domicilio', value: 'domicilio' },
      { text: 'Estatus', value: 'estatus' },
      { text: 'Acciones', value: "actions", sortable: false },
    ],
    date: '',
    menu2: '',
    id_user_edit:'',
    arrayDomicilio:'',
    miResultadoArray:'',
    nombre_completo:'',
    primerAp:'',
    segundoAp:'',  
    tel:'',
    actions:'',
    editedIndex: '',
    banderaEdit:false,
    btnGuardar:true,
    btnActualizar:false
  }),
  mounted() {
   
    this.getEmpleados();
    this.getAreas();
    this.getPuestos();
    this.getSucursales();
   
  },
  methods:{
    getAreas(){
         axios
                  .request({
                    url: 'areas',
                    method: 'get',
                  baseURL: localStorage.getItem('baseURL'),
                    headers: {
                        'Authorization': 'Bearer '+localStorage.getItem('access_token')
                    },
                  }).then(response => {
                  
                    this.areas = response.data.areas
                    

                }).catch((error) => {
       
                })
      },
      getPuestos(){
         axios
                  .request({
                    url: 'puestos',
                    method: 'get',
                  baseURL: localStorage.getItem('baseURL'),
                    headers: {
                        'Authorization': 'Bearer '+localStorage.getItem('access_token')
                    },
                  }).then(response => {
                  
                    this.puestos = response.data.puestos
                    

                }).catch((error) => {

                })
      },
    getSucursales(){
         axios
                  .request({
                    url: 'sucursales',
                    method: 'get',
                  baseURL: localStorage.getItem('baseURL'),
                    headers: {
                        'Authorization': 'Bearer '+localStorage.getItem('access_token')
                    },
                  }).then(response => {
                      console.log("sucursales en la bd",response)
                  
                    this.sucursales = response.data.sucursales
                    

                }).catch((error) => {
              
                })
      },
    getEmpleados(){
         axios
                  .request({
                    url: 'empleados',
                    method: 'get',
                  baseURL: localStorage.getItem('baseURL'),
                    headers: {
                        'Authorization': 'Bearer '+localStorage.getItem('access_token')
                    },
                  }).then(response => {
                  
                    this.empleados = response.data.empleados
          

                    this.empleados.forEach(function (e) {
                     
                      var id = e.estatus
                
                      
                      switch (id) {
                          case 1: //avtivo
                              e.estatus="ACTIVO"
                              break;
                          case 0: //no activo
                              e.estatus="NO ACTIVO"
                              break;
                          default: 
                      
                      }
                    });

                    this.empleados.forEach(function (e) {
                      var area_id = e.area_id
                 
                      switch (area_id) {
                          case 1: 
                              e.nombre_area="AREA DE CAJAS"
                              break;
                          case 2: 
                              e.nombre_area="DAMAS"
                              break;
                          case 3:
                              e.nombre_area="CABALLEROS"
                              break;
                          case 4: 
                              e.nombre_area="ELECTRONICA"
                              break;
                          case 5: 
                              e.nombre_area="SALCHICHONERIA"
                              break;
                          case 6: 
                              e.nombre_area="ABARROTES"
                              break;
                          case 7: 
                              e.nombre_area="FERRETERIA"
                              break;
                          case 8:
                              e.nombre_area="ZAPATERIA"
                              break;
                          default: 
                      }
                    
                    });

                    this.empleados.forEach(function (e) {
                      var puesto_id= e.puesto_id
               
                      switch (puesto_id) {
                          case 1: 
                              e.nombre_puesto="GERENTE"
                              break;
                          case 2: 
                              e.nombre_puesto="SUBGERENTE"
                              break;
                          case 3: 
                              e.nombre_puesto="SUPERVISOR"
                              break;
                          case 4: 
                              e.nombre_puesto="AUXILIAR GENERAL"
                              break;
                          default: 
                      }
                    
                    });
                    

                }).catch((error) => {
                  // if(error.response.status == 401){

                  //   window.location.replace("mostrarLogin");
                  // }
                })
      },

  
    cancelar(){
      
      this.elemento.nombre_completo= "",
      this.elemento.rfc= "",
      this.elemento.email="",
      this.elemento.rol="",
      this.saveLoading = false;
      this.$refs.form.resetValidation();
      this.banderaEdit = false;
      this.btnActualizar = false;
      this.btnGuardar = true;
  
    },
     AgregarEmpleado(){
        
    //     this.isActive = true

    //   if(!this.valid){
    //     this.isActive = false
    //     this.$refs.form.validate();
    //     return;
    //   }

    //   this.$refs.form.resetValidation();

         axios.request({
          url: 'newEmpleado',
          method: 'post',
          data: {
       
            nombre: this.empleado.nombre_empleado,
            telefono: this.empleado.telefono,
            sucursal: this.empleado. sucursal,
            area: this.empleado.area,
            puesto: this.empleado.puesto,
            email: this.empleado.email,
            // fecha_ingreso: this.empleado.date,
            estado: this.empleado.estado,
            ciudad: this.empleado.ciudad,
            colonia: this.empleado.colonia,
            cp: this.empleado.cp,
            calle: this.empleado.calle,
            numero: this.empleado. numero,
            fechaIngreso: this.date
         
          },
          baseURL: localStorage.getItem('baseURL'), 
        }).then(response => {
         
          if(response.data.status == 1){
              swal({
                  icon: 'success',
                  title: 'Se agrego el empleado',
                  text: 'Datos guardados correctamente',
                  buttons: ['Aceptar']
              });
              this.limpiar();
              this.check = false;
              this.$refs.form.resetValidation();
              this.getEmpleados();
          }else{
              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })

                }
            })
            .catch((error) => {

              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })
            })

    },
   
    limpiar(){

      this.empleado.nombre_empleado= "",
      this.empleado.telefono= "",
      this.empleado. sucursal= "",
      this.empleado.area= "",
      this.empleado.puesto= "",
      this.empleado.email= "",
      this.empleado.date= "",
      this.empleado.estado= "",
      this.empleado.ciudad= "",
      this.empleado.colonia= "",
      this.empleado.cp= "",
      this.empleado.calle= "",
      this.empleado. numero= "",
      this.date= "",
      this.empleado.switch= false,
      this.saveLoading = false;
      this.$refs.form.resetValidation();
      // this.btnActualizar = false;
    //   this.banderaEdit = false;
     
    },
    editarEmpleado(item){

        this.arrayDomicilio = item.domicilio;
        this.miResultadoArray = this.arrayDomicilio.split(",");
        this.check = true;
       
        this.id_user_edit = item.id;
        this.banderaEdit = true;
        this.btnActualizar = true;
        this.btnGuardar = false;
        this.empleado.nombre_empleado= item.nombre;
        this.empleado.telefono= item.telefono;
        this.empleado. sucursal= item.sucursal_id;
        this.empleado.area= item.area_id;
        this.empleado.puesto= item.puesto_id;
        this.empleado.email= item.email;
        this.empleado.estado= this.miResultadoArray[5]
        this.empleado.ciudad= this.miResultadoArray[4]
        this.empleado.colonia= this.miResultadoArray[2]
        this.empleado.cp= this.miResultadoArray[3]
        this.empleado.calle= this.miResultadoArray[0]
        this.empleado.numero= this.miResultadoArray[1]
        this.date= this.fecha_ingreso;
        this.empleado.switch1 = (item.activo=="NO")?0:1;
        
        
              
    },
    eliminarEmpleado(item){
    
       axios.request({
          url: 'empleado-delete/'+item.id,
          method: 'post',
          data: {
           
         
          },
          baseURL: localStorage.getItem('baseURL'), 
        }).then(response => {
         
          if(response.data.status == 1){
              swal({
                  icon: 'success',
                  title: 'Empleado eliminado',
                  text: 'Datos guardados correctamente',
                  buttons: ['Aceptar']
              });
              this.limpiar();
              this.getEmpleados();
          }else{
              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })

                }
            })
            .catch((error) => {

              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })
            })
    },
      ActualizarEmpleado(){

        
        // this.banderaEdit = false;
        // this.btnGuardar = false;
    //     this.isActive = true

    //   if(!this.valid){
    //     this.isActive = false
    //     this.$refs.form.validate();
    //     return;
    //   }

    //   this.$refs.form.resetValidation();

         axios.request({
          url: 'empleado-edit/'+this.id_user_edit,
          method: 'post',
          data: {
           nombre: this.empleado.nombre_empleado,
            telefono: this.empleado.telefono,
            sucursal: this.empleado. sucursal,
            area: this.empleado.area,
            puesto: this.empleado.puesto,
            email: this.empleado.email,
            estado: this.empleado.estado,
            ciudad: this.empleado.ciudad,
            colonia: this.empleado.colonia,
            cp: this.empleado.cp,
            calle: this.empleado.calle,
            numero: this.empleado. numero,
            fechaIngreso: this.date,
            estatus: this.empleado.switch1
         
          },
          baseURL: localStorage.getItem('baseURL'), 
        }).then(response => {
         
          if(response.data.status == 1){
              swal({
                  icon: 'success',
                  title: 'Datos actualizados',
                  text: 'Datos guardados correctamente',
                  buttons: ['Aceptar']
              });
              this.limpiar();
              this.banderaEdit = false;
              this.btnActualizar = false;
              this.btnGuardar = true;
              this.check = false;
              this.$refs.form.resetValidation();
              this.getEmpleados();
          }else{
              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })

                }
            })
            .catch((error) => {

              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })
            })

    },
  },
  watch:{
  }
};
</script>
<style>
  .titulo{
    color:#616161;
  }
</style>

