<template>


  <v-card>
    <v-card-title>
      Lista de proveedores 
      <router-link to="/registroUsuario">
                    <v-btn  
                    style="float: right;"
                    color="#d6b203"
                    
                    >
                    Agregar proveedor
                    </v-btn>
                </router-link>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="proveedores"
      :search="search"
    >
    <template v-slot:item.actions="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
            <v-btn class="mx-2" fab small width="32" height="30"  @click="modalEditar(item)" v-bind="attrs" v-on="on">
            <v-icon >{{ mdiAccountMultipleCheck }}</v-icon>
            </v-btn>
        </template>
        <span>Aceptar</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
            <v-btn class="mx-2" fab small width="32" height="30"  @click="modalEditar(item)" v-bind="attrs" v-on="on">
            <v-icon >{{ mdiAccountCancel }}</v-icon>
            </v-btn>
        </template>
        <span>Rechazar</span>
      </v-tooltip>
    </template>
  
    </v-data-table>
  </v-card>

</template>

<script>
  import {
  mdiPencil,
  mdiAccountMultipleCheck,
  mdiAccountCancel
} from '@mdi/js';
  export default {
    data: () => ({
      mdiPencil: mdiPencil,
      mdiAccountMultipleCheck: mdiAccountMultipleCheck,
      mdiAccountCancel: mdiAccountCancel,
      // return {
        proveedores:[],
        search: '',
          headers: [
      {
        text: 'Nombre proveedor',
        align: 'start',
        sortable: false,
        value: 'nombre_completo',
      },
      { text: 'RFC proveedor', value: 'RFC' },
      { text: 'correo electronico del proveedor', value: 'email' },
      { text: 'Estatus', value: '' },
      { text: 'Acciones', value: "actions", sortable: false },
    ],
      // }
    }),
      mounted(){
         this.getProveedores()

        },
    methods:{
      modalEditar(){
        alert()
      },
      getProveedores(){
         axios
                  .request({
                    url: 'registros-proveedor',
                    method: 'get',
                  baseURL: localStorage.getItem('baseURL'),
                    headers: {
                        'Authorization': 'Bearer '+localStorage.getItem('access_token')
                    },
                  }).then(response => {
                    console.log(response)
                    this.proveedores = response.data.registros

                }).catch((error) => {
                  // if(error.response.status == 401){

                  //   window.location.replace("mostrarLogin");
                  // }
                })
      }
    }
  }
</script>