<template>
<v-card>

   <v-app id="inspire">
      <v-main>
         <v-container fluid fill-height>
            <v-layout align-center justify-center>
               <v-flex xs12 sm8 md4>
                  <v-card class="elevation-12">
                     <v-toolbar dark color="primary">
                        <v-toolbar-title>Inicio de sesion</v-toolbar-title>
                     </v-toolbar>
                     <v-card-text>
                        <v-form>
                           <v-text-field
                              prepend-icon="person"
                              v-model="email"
                              label="Login"
                              type="text"
                              required
                           ></v-text-field>
                           <v-text-field
                              id="password"
                              prepend-icon="lock"
                              v-model="password"
                              label="Password"
                              type="password"
                              required
                           ></v-text-field>
                        </v-form>
                     </v-card-text>
                     <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" dark   right @click="entrar()"> Entrar </v-btn>
                  
                     </v-card-actions>
                  </v-card>
               </v-flex>
            </v-layout>
         </v-container>
      </v-main>
   </v-app>
</v-card>   

</template>

<script>
import swal from 'sweetalert';
    const axios = require('axios');
// import inicio from "../components/inicio";
// import inicio from './components/inicio.vue';
export default {
   name: 'email',
   props: {
      source: String,
   },
   data: () => ({
      email: '',
      password: ''

   }),
   methods:{
      entrar(){
         
          axios
              .request({
                  url: 'iniciar-sesion',
                  method: 'post',
                    data:{
                        email:this.email,
                        password:this.password
                    },
                baseURL: localStorage.getItem('baseURL'),
                  headers: {
                      'Authorization': 'Bearer '+localStorage.getItem('access_token')
                  },
                }).then(response => {

                   window.location.href = 'home';
   
                }).
                  catch( error => {
                     console.log('errores',error)
                     let err = error.response.data.errors;
                      let mensaje = "Error no identificado";

                      if(err.hasOwnProperty('email')){
                         mensaje = err.email[0];
                      }else if(err.hasOwnProperty('password')){
                         mensaje = err.password[0];
                      }else if(err.hasOwnProperty('login')){
                         mensaje = err.login[0];
                      }

                      swal('Error', mensaje, 'error');
                  });
      }
   }
};
</script>

<style></style>
