<template>
  <v-container>
    <v-row justify="center">
      <v-col>
        <v-form ref="form" v-model="valid" >
          <br>
          <h3 class="titulo">Registrar nuevo proveedor</h3>
          <br>
          <v-card class="grey lighten-4" elevation="6" outlined
          >
            <v-card-text>
              <v-container>
                <v-row>
                    <v-col class="d-flex" cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="elemento.nombre_completo"
                        label="Nombre completo"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="3">
                      <v-text-field
                        v-model="elemento.rfc"
                        label="RFC proveedor"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="3">
                      <v-text-field
                        v-model="elemento.email"
                        label="Correo electronico"
                  
                      ></v-text-field>
                    </v-col>
                    <!-- <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="elemento.nombre"
                        label="Rol de usuario"
                  
                      ></v-text-field>
                    </v-col> -->
                    
                    <!-- <v-col class="d-flex" cols="12" sm="6" md="2" >
                      <v-autocomplete
                        :items="rol"
                        label="Rol de usuario"
                        item-value="id"
                        item-text="Rol"
                        v-model="elemento.rol"
                   
                       
                      ></v-autocomplete>
                    </v-col> -->

                    <!-- <v-col class="d-flex" cols="12" sm="2" md="2">
                      <v-text-field
                        v-model="elemento.primerapp"
                        label="Primer apellido"
              
                      ></v-text-field>
                    </v-col>

                    <v-col class="d-flex" cols="12" sm="2" md="2">
                      <v-text-field
                        v-model="elemento.segundoapp"
                        label="Segundo apellido"
                      ></v-text-field>
                    </v-col> -->
                
                    <!-- <v-col class="d-flex" cols="12" sm="3" md="3" >
                      <v-autocomplete
                        :items="areas"
                        label="Areas"
                        item-value="id"
                        item-text="area"
                        v-model="elemento.area"
                   
                      ></v-autocomplete>
                    </v-col> -->

                  <!-- <v-col>
                        <v-switch
                        color="#d6b203"
                          v-model="elemento.switch1"
                          inset
                          label="En servicio"
                        ></v-switch>
                  </v-col> -->
                  
                </v-row>
              </v-container>
            </v-card-text>
              
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="black" dark v-if="banderaEdit" right @click="cancelar()"> Cancelar </v-btn>
                <v-btn color="black" dark :loading="saveLoading" right @click="guardar()"> Guardar </v-btn>
              </v-card-actions>
          </v-card>
        </v-form>
        <br>

              
        <v-card class="grey lighten-4" elevation="6" outlined>
        <v-card-title>
        <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
        </v-card-title>
          <v-card-text>
      
            <v-container>
                <v-col  cols="12" sm="12" md="12">
             
                <v-data-table
                    :headers="headers"
                    :items="proveedores"
                    :search="search"
                  >
                  <template v-slot:item.actions="{ item }">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                          <v-btn class="mx-2" fab small width="32" height="30"  @click="modalEditar(item)" v-bind="attrs" v-on="on">
                          <v-icon >{{ mdiAccountMultipleCheck }}</v-icon>
                          </v-btn>
                      </template>
                      <span>Aceptar</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                          <v-btn class="mx-2" fab small width="32" height="30"  @click="modalEditar(item)" v-bind="attrs" v-on="on">
                          <v-icon >{{ mdiAccountCancel }}</v-icon>
                          </v-btn>
                      </template>
                      <span>Rechazar</span>
                    </v-tooltip>
                  </template>
                
                  </v-data-table>
                </v-col>
            </v-container>
          </v-card-text>
        </v-card>
      </v-col>


     
    </v-row>
  </v-container>
</template>

<script>

const axios = require('axios');
import swal from 'sweetalert';
import {
  mdiPencil,
  mdiAccountMultipleCheck,
  mdiAccountCancel
} from '@mdi/js';
export default {

  

   
  data: () => ({
    mdiPencil: mdiPencil,
      mdiAccountMultipleCheck: mdiAccountMultipleCheck,
      mdiAccountCancel: mdiAccountCancel,
    valid: false,
    rol:["ADMINISTRADOR", "PROVEEDOR"],
    areas:[],
    // rules: myrulesEtapa,
    elemento: {
      
        nombre_completo: "",
        rfc: "",
        email: "",
      
    },
    saveLoading: false,
    isActive: false,
    search: '',
    proveedores:[],
        search: '',
          headers: [
      {
        text: 'Nombre proveedor',
        align: 'start',
        sortable: false,
        value: 'nombre_completo',
      },
      { text: 'RFC proveedor', value: 'RFC' },
      { text: 'correo electronico del proveedor', value: 'email' },
      { text: 'Estatus', value: '' },
      { text: 'Acciones', value: "actions", sortable: false },
    ],
    nombre_completo:'',
    primerAp:'',
    segundoAp:'',  
    tel:'',
    actions:'',
    editedIndex: '',
    banderaEdit:false,
  }),
  mounted() {
   
    this.getProveedores()
    // this.getAreas();
    // this.getElementos();
   
  },
  methods:{
    getProveedores(){
         axios
                  .request({
                    url: 'registros-proveedor',
                    method: 'get',
                  baseURL: localStorage.getItem('baseURL'),
                    headers: {
                        'Authorization': 'Bearer '+localStorage.getItem('access_token')
                    },
                  }).then(response => {
                    console.log(response)
                    this.proveedores = response.data.registros

                }).catch((error) => {
                  // if(error.response.status == 401){

                  //   window.location.replace("mostrarLogin");
                  // }
                })
      },
  
   
    // getAreas(){

    //   axios.request({
    //     url: 'get-areas',
    //     method: 'get',
    //     baseURL: localStorage.getItem('baseURL'),
    //       headers: {
    //           'Authorization': 'Bearer '+localStorage.getItem('access_token')
    //       },
    //     }).then(response => {
    //       this.areas = response.data
    //       console.log(this.areas); 
    //     });

    // },
    // onChange2(e){
    //   this.getPuestos(e);
    // },

    // getPuestos(e){
    //   console.log("aqui",e);
    //   var id = e;
    //   axios.request({
    //       url: 'get-puestos/'+id,
    //       method: 'get',
    //       data: id,
    //     baseURL: localStorage.getItem('baseURL'),
    //       headers: {
    //           'Authorization': 'Bearer '+localStorage.getItem('access_token')
    //       },
    //     }).then(response => {
    //         this.puestos = response.data
    //       console.log(this.puestos)
          
    //     });
    // },
  
    cancelar(){
      
      this.elemento.nombre= "",
      this.elemento.primerapp= "",
      this.elemento.segundoapp="",
      this.elemento.puesto="",
      this.elemento.area="",
      this.elemento.delegacion="",
      this.elemento.comandancia="",
      this.saveLoading = false;
      this.$refs.form.resetValidation();
      this.banderaEdit = false;
      console.log("cancelar",this.banderaEdit);
    },
    guardar(){
        this.isActive = true

      if(!this.valid){
        this.isActive = false
        this.$refs.form.validate();
        return;
      }

      this.$refs.form.resetValidation();

         axios.request({
          url: 'newRegistro',
          method: 'post',
          data: {
            nombre: this.elemento.nombre_completo,
            rfc: this.elemento.rfc,
            email: this.elemento.email,
         
          },
          baseURL: localStorage.getItem('baseURL'), 
        }).then(response => {
         
          if(response.data.status == 1){
              swal({
                  icon: 'success',
                  title: 'Se agrego el proveedor',
                  text: 'Datos guardados correctamente',
                  buttons: ['Aceptar']
              });
              this.limpiar();
              // this.isActive = false;
              this.$refs.form.resetValidation();
              this.getProveedores();
          }else{
              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })

                }
            })
            .catch((error) => {

              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })
            })

    },

    // guardar(){


    //   this.isActive = true

    //   if(!this.valid){
    //     this.isActive = false
    //     this.$refs.form.validate();
    //     return;
    //   }

    //   this.$refs.form.resetValidation();

    
    //   if(this.banderaEdit==false) {
     
    //     axios.request({
    //       url: 'registrar-elemento',
    //       method: 'post',
    //       data: this.elemento,
    //       baseURL: localStorage.getItem('baseURL'), 
    //     }).then(response => {
    //       console.log(response.data.status)
    //       if(response.data.status == 1){
    //           swal({
    //               icon: 'success',
    //               title: 'Se agrego el elemento',
    //               text: 'Datos guardados correctamente',
    //               buttons: ['Aceptar']
    //           });
    //           this.limpiar();
    //           this.isActive = false;
    //           this.$refs.form.resetValidation();
    //           this.recargarElem();
    //       }else{
    //           swal({
    //               icon: 'error',
    //               title: 'Guardado Incorrecto',
    //               text: 'No fue posible guardar los datos',
    //               buttons: ['Aceptar']
    //           })

    //             }
    //         })
    //         .catch((error) => {

    //           swal({
    //               icon: 'error',
    //               title: 'Guardado Incorrecto',
    //               text: 'No fue posible guardar los datos',
    //               buttons: ['Aceptar']
    //           })
    //           this.isActive = false
    //         })
    //         this.saveLoading = false;
    //   } else {

    //     let info={
    //       "nombre":this.elemento.nombre,
    //       "primerapp":this.elemento.primerapp,
    //       "segundoapp":this.elemento.segundoapp,
    //       "area":this.elemento.area,
    //       "puesto":this.elemento.puesto,
    //       "delegacion":this.elemento.delegacion,
    //       "comandancia":this.elemento.comandancia,
    //       "datosEle":this.datos,
    //       "activo":this.elemento.switch1       }

    //     axios.request({
    //       url: 'actualizar-elementos',
    //       method: 'post',
    //       data:info,
    //       baseURL: localStorage.getItem('baseURL'),
    //         headers: {
    //             'Authorization': 'Bearer '+localStorage.getItem('access_token')
    //         },
    //       }).then(response=>{
    //         if(response.data.status == 1){

    //           swal({
    //             icon: 'success',
    //             title: 'Se actualizo el elemento',
    //             text: 'Datos guardados correctamente',
    //             buttons: ['Aceptar']
    //           });
    //           this.recargarElem();
    //           this.limpiar();
    //           this.banderaEdit=false;

    //         }else{

    //           swal({
    //               icon: 'error',
    //               title: 'Guardado Incorrecto',
    //               text: 'No fue posible actualizar los datos',
    //               buttons: ['Aceptar']
    //           })
    //         }
                    
    //       }).catch((error) => {
    //       })
    //   }
    // },
    
    limpiar(){

      this.elemento.nombre_completo= "",
      this.elemento.rfc= "",
      this.elemento.email="",
      this.saveLoading = false;
      this.$refs.form.resetValidation();
      // this.banderaEdit = false;
     
    },
    getElementos(){
      axios.request({
        url: 'get-elementos',
        method: 'get',
        baseURL: localStorage.getItem('baseURL'),
          headers: {
              'Authorization': 'Bearer '+localStorage.getItem('access_token')
          },
        }).then(response => {
          this.element = response.data
          console.log("ele",this.element);
          this.element.forEach(function (e) {
            
            var id = e.activo
            console.log("tipo",id);
            switch (id) {
                case 1: //sin asignar
                    e.activo="SI"
                    break;
                case 0: //cumplida
                    e.activo="NO"
                    break;
                default: 
            
            }
          });
      });
    },
    // recargarElem(){
    //   axios.request({
    //     url: 'get-elementos',
    //     method: 'get',
    //     baseURL: localStorage.getItem('baseURL'),
    //       headers: {
    //           'Authorization': 'Bearer '+localStorage.getItem('access_token')
    //       },
    //     }).then(response => {
    //         this.element = response.data
    //         this.element.forEach(function (e) {
    //           var id = e.activo
    //           console.log("tipo",id);
    //           switch (id) {
    //               case 1: //sin asignar
    //                   e.activo="SI"
    //                   break;
    //               case 0: //cumplida
    //                   e.activo="NO"
    //                   break;
    //               default: 
    //           }
            
    //         });
           
    //     });
    // },
    // modalEditar(item){
    //   this.banderaEdit = true;

    //   this.editedIndex = this.element.indexOf(item.id)
    //   this.datos=Object.assign({}, item)
    //   console.log("ediii",this.editedIndex);
    //   console.log("edot",Object.assign({}, item));
    //   this.elemento.nombre = item.nombre_elemento
    //   this.elemento.primerapp = item.primerap_elemento
    //   this.elemento.segundoapp = item.segundoap_elemento
    //   this.elemento.area = item.id_area
    //   this.getPuestos(item.id_area)
    //   this.elemento.puesto =  item.puesto
    //   this.elemento.delegacion = item.id_delegacion
    //   this.getComandancias(item.id_delegacion)
    //   this.elemento.comandancia = item.comandancia
    //   this.elemento.switch1 = (item.activo=="NO")?0:1;
    //   this.ele = item
          
    // }
  },
  watch:{
  }
};
</script>
<style>
  .titulo{
    color:#616161;
  }
</style>

