<template>
  <v-container>
    <v-row justify="center">
      <v-col>
        <v-form ref="form" v-model="valid" >
          <br>
          <h3 class="titulo">Registrar nueva sucursal</h3>
          <br>
          <v-card class="grey lighten-4" elevation="6" outlined
          >
            <v-card-text>
              <v-container>
                <v-row>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="sucursal.nombre_sucursal"
                        label="Nombre de la sucursal"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2" >
                      <v-autocomplete
                        :items="tipo_sucursal"
                        label="Tipo de sucursal"
                        item-value="id"
                        item-text="Tipo"
                        v-model="sucursal.tipo"
                   
                       
                      ></v-autocomplete>
                    </v-col>
                      <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="sucursal.telefono"
                        label="Telefono de contacto"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="3">
                      <v-text-field
                        v-model="sucursal.email"
                        label="Correo de contacto"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="3">
                      <v-text-field
                        v-model="sucursal.nombre_encargado"
                        label="Nombre del encargado"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="sucursal.estado"
                        label="Estado"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="sucursal.ciudad"
                        label="Ciudad"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="sucursal.colonia"
                        label="Colonia"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="sucursal.cp"
                        label="Código postal"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="sucursal.calle"
                        label="Nombre de calle"
                  
                      ></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="sucursal.numero"
                        label="Num. exterior"
                  
                      ></v-text-field>
                    </v-col>

                    <v-col class="d-flex" cols="12" sm="6" md="2">
                        <v-switch
                        v-show="check"
                        color="#d6b203"
                          v-model="sucursal.switch1"
                          inset
                          label="Activo"
                        ></v-switch>
                  </v-col>
                  
                </v-row>
              </v-container>
            </v-card-text>
              
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="black" dark v-if="banderaEdit" right @click="cancelar()"> Cancelar </v-btn>
                <v-btn color="black" dark v-if="btnGuardar" :loading="saveLoading" right @click="AgregarSucursal()"> Guardar </v-btn>
                <v-btn color="black" dark v-if="btnActualizar" :loading="saveLoading" right @click="ActualizarSucursal()"> Actualizar </v-btn>
              </v-card-actions>
          </v-card>
        </v-form>
        <br>

              
        <v-card class="grey lighten-4" elevation="6" outlined>
        <v-card-title>
        <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
        </v-card-title>
          <v-card-text>
      
            <v-container>
                <v-col  cols="12" sm="12" md="12">
             
                <v-data-table
                    :headers="headers"
                    :items="sucursales"
                    :search="search"
                  >
                  <template v-slot:item.actions="{ item }">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                          <v-btn class="mx-2" fab small width="32" height="30"  @click="editarSucursal(item)" v-bind="attrs" v-on="on">
                          <v-icon >{{ mdiPencil }}</v-icon>
                          </v-btn>
                      </template>
                      <span>Editar</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                          <v-btn class="mx-2" fab small width="32" height="30"  @click="eliminarSucursal(item)" v-bind="attrs" v-on="on">
                          <v-icon >{{ mdiAccountCancel }}</v-icon>
                          </v-btn>
                      </template>
                      <span>Eliminar</span>
                    </v-tooltip>
                  </template>
                
                  </v-data-table>
                </v-col>
            </v-container>
          </v-card-text>
        </v-card>
      </v-col>


     
    </v-row>
  </v-container>
</template>

<script>

const axios = require('axios');
import swal from 'sweetalert';
import {
  mdiPencil,
  mdiAccountMultipleCheck,
  mdiAccountCancel
} from '@mdi/js';
export default {

  

   
  data: () => ({
    mdiPencil: mdiPencil,
      mdiAccountMultipleCheck: mdiAccountMultipleCheck,
      mdiAccountCancel: mdiAccountCancel,
    valid: false,
    tipo_sucursal:["SUCURSAL", "MATRIZ"],
    // rules: myrulesEtapa,
    sucursal: {
      
        nombre_sucursal: "",
        nombre_encargado: "",
        telefono: "",
        tipo_sucursal: "",
        email: "",
        estado: "",
        ciudad: "",
        colonia: "",
        cp: "",
        calle: "",
        numero: "",
       
      
    },
    saveLoading: false,
    isActive: false,
    search: '',
    sucursales:[],
        search: '',
          headers: [
      {
        text: 'Nombre sucursal',
        align: 'start',
        sortable: false,
        value: 'nombre',
      },
      { text: 'Tipo', value: 'tipo' },
      { text: 'Telefono', value: 'telefono' },
      { text: 'Correo electronico', value: 'email_contacto' },
      { text: 'Nombre encargado', value: 'nombre_encargado' },
      { text: 'Domicilio', value: 'domicilio' },
      { text: 'Estatus', value: 'estatus' },
      { text: 'Acciones', value: "actions", sortable: false },
    ],
    id_user_edit:'',
    nombre_completo:'',
    arrayDomicilio:'',
    miResultadoArray:'',
    primerAp:'',
    segundoAp:'',  
    tel:'',
    actions:'',
    editedIndex: '',
    banderaEdit:false,
    btnGuardar:true,
    btnActualizar:false
  }),
  mounted() {
   
    this.getSucursales()
    // this.getAreas();
    // this.getElementos();
   
  },
  methods:{
    getSucursales(){
         axios
                  .request({
                    url: 'sucursales',
                    method: 'get',
                  baseURL: localStorage.getItem('baseURL'),
                    headers: {
                        'Authorization': 'Bearer '+localStorage.getItem('access_token')
                    },
                  }).then(response => {
                      console.log(response)
                  
                    this.sucursales = response.data.sucursales

                    this.sucursales.forEach(function (e) {
                     
                      var id = e.estatus
                      
                      switch (id) {
                          case 1: //avtivo
                              e.estatus="ACTIVO"
                              break;
                          case 0: //no activo
                              e.estatus="NO ACTIVO"
                              break;
                          default: 
                      
                      }
                    });
                    

                }).catch((error) => {
                  // if(error.response.status == 401){

                  //   window.location.replace("mostrarLogin");
                  // }
                })
      },

  
    cancelar(){
      
        this.sucursal.nombre_sucursal= "",
        this.sucursal.nombre_encargado= "",
        this.sucursal.telefono= "",
        this.sucursal.tipo= "",
        this.sucursal.email= "",
        this.sucursal.estado= "",
        this.sucursal.ciudad= "",
        this.sucursal.colonia= "",
        this.sucursal.cp= "",
        this.sucursal.calle= "",
        this.sucursal.numero= "",
        this.saveLoading = false;
        this.$refs.form.resetValidation();
        this.banderaEdit = false;
        this.btnActualizar = false;
        this.btnGuardar = true;
  
    },
     AgregarSucursal(){
        
    //     this.isActive = true

    //   if(!this.valid){
    //     this.isActive = false
    //     this.$refs.form.validate();
    //     return;
    //   }

    //   this.$refs.form.resetValidation();

         axios.request({
          url: 'newSucursal',
          method: 'post',
          data: this.sucursal,
            
    
          baseURL: localStorage.getItem('baseURL'), 
        }).then(response => {
         
          if(response.data.status == 1){
              swal({
                  icon: 'success',
                  title: 'Se agrego la sucursal',
                  text: 'Datos guardados correctamente',
                  buttons: ['Aceptar']
              });
              this.limpiar();
              // this.isActive = false;
              this.$refs.form.resetValidation();
              this.getSucursales();
          }else{
              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })

                }
            })
            .catch((error) => {

              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })
            })

    },
   
    limpiar(){
        this.sucursal.nombre_sucursal= "",
        this.sucursal.nombre_encargado= "",
        this.sucursal.telefono= "",
        this.sucursal.tipo= "",
        this.sucursal.email= "",
        this.sucursal.estado= "",
        this.sucursal.ciudad= "",
        this.sucursal.colonia= "",
        this.sucursal.cp= "",
        this.sucursal.calle= "",
        this.sucursal.numero= "",
      this.saveLoading = false;
      this.$refs.form.resetValidation();
      // this.btnActualizar = false;
    //   this.banderaEdit = false;
     
    },
    editarSucursal(item){

        this.arrayDomicilio = item.domicilio;
        this.miResultadoArray = this.arrayDomicilio.split(",");
        // console.log("editar sucursal",this.miResultadoArray)
        this.check = true;
        this.id_user_edit = item.id;
        this.banderaEdit = true;
        this.btnActualizar = true;
        this.btnGuardar = false;
        this.sucursal.nombre_sucursal= item.nombre
        this.sucursal.nombre_encargado= item.nombre_encargado
        this.sucursal.telefono= item.telefono
        this.sucursal.tipo= item.tipo
        this.sucursal.email= item.email_contacto
        this.sucursal.estado= this.miResultadoArray[5]
        this.sucursal.ciudad= this.miResultadoArray[4]
        this.sucursal.colonia= this.miResultadoArray[2]
        this.sucursal.cp= this.miResultadoArray[3]
        this.sucursal.calle= this.miResultadoArray[0]
        this.sucursal.numero= this.miResultadoArray[1]
        this.sucursal.switch1 = (item.activo=="NO")?0:1;
              
    },
    eliminarSucursal(item){
     
       axios.request({
          url: 'sucursal-delete/'+item.id,
          method: 'post',
          data: {
          
         
          },
          baseURL: localStorage.getItem('baseURL'), 
        }).then(response => {
         
          if(response.data.status == 1){
              swal({
                  icon: 'success',
                  title: 'Sucursal eliminada',
                  text: 'Datos guardados correctamente',
                  buttons: ['Aceptar']
              });
              this.limpiar();
              this.getSucursales();
          }else{
              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })

                }
            })
            .catch((error) => {
              console.log("error",error)
              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })
            })
    },
      ActualizarSucursal(){

    //   if(!this.valid){
    //     this.isActive = false
    //     this.$refs.form.validate();
    //     return;
    //   }

    //   this.$refs.form.resetValidation();

         axios.request({
          url: 'sucursal-edit/'+this.id_user_edit,
          method: 'post',
          data: {
            sucursal: this.sucursal.nombre_sucursal,
            encargado: this.sucursal.nombre_encargado,
            telefono: this.sucursal.telefono,
            tipo: this.sucursal.tipo,
            correo: this.sucursal.email,
            estado: this.sucursal.estado,
            ciudad: this.sucursal.ciudad,
            colonia: this.sucursal.colonia,
            cp: this.sucursal.cp,
            calle: this.sucursal.calle,
            numero: this.sucursal.numero,
            estatus: this.sucursal.switch1
         
          },
          baseURL: localStorage.getItem('baseURL'), 
        }).then(response => {
      
         
          if(response.data.status == 1){
              swal({
                  icon: 'success',
                  title: 'Sucursal actualizada',
                  text: 'Datos guardados correctamente',
                  buttons: ['Aceptar']
              });
              this.limpiar();
              this.banderaEdit = false;
              this.btnActualizar = false;
              this.btnGuardar = true;
              this.check = true;
              this.$refs.form.resetValidation();
              this.getSucursales();
          }else{
              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })

                }
            })
            .catch((error) => {

              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })
            })

    },
  },
  watch:{
  }
};
</script>
<style>
  .titulo{
    color:#616161;
  }
</style>

