<template>
  <v-container>
    <v-row justify="center">
      <v-col>
        <v-form ref="form" v-model="valid" >
          <br>
          <h3 class="titulo">Registrar nuevo usuario</h3>
          <br>
          <v-card class="grey lighten-4" elevation="6" outlined
          >
            <v-card-text>
              <v-container>
                <v-row>
                    <v-col class="d-flex" cols="12" sm="6" md="3">
                      <v-text-field
                        v-model="elemento.nombre_completo"
                        label="Nombre completo"
                  
                      ></v-text-field>
                    </v-col>
                    <!-- <v-col class="d-flex" cols="12" sm="6" md="3">
                      <v-text-field
                        v-model="elemento.rfc"
                        label="RFC proveedor"
                  
                      ></v-text-field>
                    </v-col> -->
                    <v-col class="d-flex" cols="12" sm="6" md="3">
                      <v-text-field
                        v-model="elemento.email"
                        label="Correo electronico"
                  
                      ></v-text-field>
                    </v-col>
                    <!-- <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="elemento.nombre"
                        label="Rol de usuario"
                  
                      ></v-text-field>
                    </v-col> -->
                    
                    <v-col class="d-flex" cols="12" sm="6" md="2" >
                      <v-autocomplete
                        :items="rol"
                        label="Rol de usuario"
                        item-value="id"
                        item-text="Rol"
                        v-model="elemento.rol"
                   
                       
                      ></v-autocomplete>
                    </v-col>
                     <v-col class="d-flex" cols="12" sm="6" md="2">
                      <v-text-field
                        v-model="elemento.contrasena"
                        label="Contraseña"
                  
                      ></v-text-field>
                    </v-col>

                    <v-col class="d-flex" cols="12" sm="6" md="2">
                        <v-switch
                        v-show="check"
                        color="#d6b203"
                          v-model="elemento.switch1"
                          inset
                          label="Activo"
                        ></v-switch>
                  </v-col>

                    <!-- <v-col class="d-flex" cols="12" sm="2" md="2">
                      <v-text-field
                        v-model="elemento.primerapp"
                        label="Primer apellido"
              
                      ></v-text-field>
                    </v-col>

                    <v-col class="d-flex" cols="12" sm="2" md="2">
                      <v-text-field
                        v-model="elemento.segundoapp"
                        label="Segundo apellido"
                      ></v-text-field>
                    </v-col> -->
                
                    <!-- <v-col class="d-flex" cols="12" sm="3" md="3" >
                      <v-autocomplete
                        :items="areas"
                        label="Areas"
                        item-value="id"
                        item-text="area"
                        v-model="elemento.area"
                   
                      ></v-autocomplete>
                    </v-col> -->

                  <!-- <v-col>
                        <v-switch
                        color="#d6b203"
                          v-model="elemento.switch1"
                          inset
                          label="En servicio"
                        ></v-switch>
                  </v-col> -->
                  
                </v-row>
              </v-container>
            </v-card-text>
              
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="black" dark v-if="banderaEdit" right @click="cancelar()"> Cancelar </v-btn>
                <v-btn color="black" dark v-if="btnGuardar" :loading="saveLoading" right @click="AgregarUsuario()"> Guardar </v-btn>
                <v-btn color="black" dark v-if="btnActualizar" :loading="saveLoading" right @click="ActualizarUsuario()"> Actualizar </v-btn>
              </v-card-actions>
          </v-card>
        </v-form>
        <br>

              
        <v-card class="grey lighten-4" elevation="6" outlined>
        <v-card-title>
        <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
        </v-card-title>
          <v-card-text>
      
            <v-container>
                <v-col  cols="12" sm="12" md="12">
             
                <v-data-table
                    :headers="headers"
                    :items="proveedores"
                    :search="search"
                  >
                  <template v-slot:item.actions="{ item }">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                          <v-btn class="mx-2" fab small width="32" height="30"  @click="editarUsuario(item)" v-bind="attrs" v-on="on">
                          <v-icon >{{ mdiPencil }}</v-icon>
                          </v-btn>
                      </template>
                      <span>Editar</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                          <v-btn class="mx-2" fab small width="32" height="30"  @click="eliminarUsuario(item)" v-bind="attrs" v-on="on">
                          <v-icon >{{ mdiAccountCancel }}</v-icon>
                          </v-btn>
                      </template>
                      <span>Eliminar</span>
                    </v-tooltip>
                  </template>
                
                  </v-data-table>
                </v-col>
            </v-container>
          </v-card-text>
        </v-card>
      </v-col>


     
    </v-row>
  </v-container>
</template>

<script>

const axios = require('axios');
import swal from 'sweetalert';
import {
  mdiPencil,
  mdiAccountMultipleCheck,
  mdiAccountCancel
} from '@mdi/js';
export default {

  

   
  data: () => ({
    mdiPencil: mdiPencil,
      mdiAccountMultipleCheck: mdiAccountMultipleCheck,
      mdiAccountCancel: mdiAccountCancel,
    valid: false,
    rol:["ADMINISTRADOR", "ALMACEN"],
    areas:[],
    // rules: myrulesEtapa,
    elemento: {
      
        nombre_completo: "",
        rol: "",
        email: "",
        contrasena: "",
        switch1: ""
      
    },
    saveLoading: false,
    isActive: false,
    search: '',
    proveedores:[],
        search: '',
          headers: [
      {
        text: 'Nombre del usuario',
        align: 'start',
        sortable: false,
        value: 'name',
      },
    
      { text: 'correo electronico', value: 'email' },
      { text: 'Estatus', value: 'estatus' },
      { text: 'Rol de usuario', value: 'rol' },
      { text: 'Acciones', value: "actions", sortable: false },
    ],
    id_user_edit:'',
    nombre_completo:'',
    primerAp:'',
    segundoAp:'',  
    tel:'',
    actions:'',
    editedIndex: '',
    banderaEdit:false,
    btnGuardar:true,
    btnActualizar:false
  }),
  mounted() {
   
    this.getUsuarios()
    // this.getAreas();
    // this.getElementos();
   
  },
  methods:{
         getUsuarios(){
         axios
                  .request({
                    url: 'usuarios',
                    method: 'get',
                  baseURL: localStorage.getItem('baseURL'),
                    headers: {
                        'Authorization': 'Bearer '+localStorage.getItem('access_token')
                    },
                  }).then(response => {
                  
                    this.proveedores = response.data.registros

                    this.proveedores.forEach(function (e) {
                     
                      var id = e.estatus
                      
                      switch (id) {
                          case 1: //avtivo
                              e.estatus="ACTIVO"
                              break;
                          case 0: //no activo
                              e.estatus="NO ACTIVO"
                              break;
                          default: 
                      
                      }
                    });
                    

                }).catch((error) => {
                  // if(error.response.status == 401){

                  //   window.location.replace("mostrarLogin");
                  // }
                })
      },

  
    cancelar(){
      
      this.elemento.nombre_completo= "",
      this.elemento.rfc= "",
      this.elemento.email="",
      this.elemento.rol="",
      this.saveLoading = false;
      this.$refs.form.resetValidation();
      this.banderaEdit = false;
      this.btnActualizar = false;
      this.btnGuardar = true;
  
    },
     AgregarUsuario(){
        
    //     this.isActive = true

    //   if(!this.valid){
    //     this.isActive = false
    //     this.$refs.form.validate();
    //     return;
    //   }

    //   this.$refs.form.resetValidation();

         axios.request({
          url: 'newUsuario',
          method: 'post',
          data: {
            nombre: this.elemento.nombre_completo,
            rol: this.elemento.rol,
            email: this.elemento.email,
            contrasena: this.elemento.contrasena,
            activo: this.elemento.switch1
         
          },
          baseURL: localStorage.getItem('baseURL'), 
        }).then(response => {
         
          if(response.data.status == 1){
              swal({
                  icon: 'success',
                  title: 'Se agrego el proveedor',
                  text: 'Datos guardados correctamente',
                  buttons: ['Aceptar']
              });
              this.limpiar();
              // this.isActive = false;
              this.$refs.form.resetValidation();
              this.getUsuarios();
          }else{
              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })

                }
            })
            .catch((error) => {

              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })
            })

    },
   
    limpiar(){

      this.elemento.nombre_completo= "",
      this.elemento.rfc= "",
      this.elemento.email="",
      this.elemento.rol="",
      this.elemento.contrasena="",
      this.elemento.switch1= false,
      this.saveLoading = false;
      this.check = false;
      this.$refs.form.resetValidation();
      // this.btnActualizar = false;
    //   this.banderaEdit = false;
     
    },
    editarUsuario(item){
        this.check = true;
        this.id_user_edit = item.id;
        this.banderaEdit = true;
        this.btnActualizar = true;
        this.btnGuardar = false;
        this.elemento.nombre_completo = item.name
        this.elemento.email = item.email
        this.elemento.rol = item.rol
        this.elemento.switch1 = (item.activo=="NO")?0:1;
              
    },
    eliminarUsuario(item){
     
       axios.request({
          url: 'usuario-delete/'+item.id,
          method: 'post',
          data: {
            nombre: this.elemento.nombre_completo,
            rol: this.elemento.rol,
            email: this.elemento.email,
            contrasena: this.elemento.contrasena,
         
          },
          baseURL: localStorage.getItem('baseURL'), 
        }).then(response => {
         
          if(response.data.status == 1){
              swal({
                  icon: 'success',
                  title: 'Usuario eliminado',
                  text: 'Datos guardados correctamente',
                  buttons: ['Aceptar']
              });
              this.limpiar();
              this.getUsuarios();
          }else{
              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })

                }
            })
            .catch((error) => {

              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })
            })
    },
      ActualizarUsuario(){
        
        // this.banderaEdit = false;
        // this.btnGuardar = false;
    //     this.isActive = true

    //   if(!this.valid){
    //     this.isActive = false
    //     this.$refs.form.validate();
    //     return;
    //   }

    //   this.$refs.form.resetValidation();

         axios.request({
          url: 'usuario-edit/'+this.id_user_edit,
          method: 'post',
          data: {
            nombre: this.elemento.nombre_completo,
            rol: this.elemento.rol,
            email: this.elemento.email,
            contrasena: this.elemento.contrasena,
            estatus: this.elemento.switch1
         
          },
          baseURL: localStorage.getItem('baseURL'), 
        }).then(response => {
         
          if(response.data.status == 1){
              swal({
                  icon: 'success',
                  title: 'Se agrego el proveedor',
                  text: 'Datos guardados correctamente',
                  buttons: ['Aceptar']
              });
              this.limpiar();
              this.banderaEdit = false;
              this.btnActualizar = false;
              this.btnGuardar = true;
              // this.isActive = false;
              this.$refs.form.resetValidation();
              this.getUsuarios();
          }else{
              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })

                }
            })
            .catch((error) => {

              swal({
                  icon: 'error',
                  title: 'Guardado Incorrecto',
                  text: 'No fue posible guardar los datos',
                  buttons: ['Aceptar']
              })
            })

    },
  },
  watch:{
  }
};
</script>
<style>
  .titulo{
    color:#616161;
  }
</style>

